.portfolio {
  margin: 0;
  padding: 0 70px 125px;

  &__title {
    margin: 0;
    color: #a0a0a0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 50px 0 0;
  }

  &__item {
    text-align: left;
    border-bottom: 1px solid #e8e8e8;
    padding: 19px 0;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border: none;
      padding-bottom: 0;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    background-image: url('../../images/portfolio-link.svg');
    background-repeat: no-repeat;
    background-position: right;

    &:hover {
      opacity: 0.6;
    }
  }

  @media screen and (max-width: 1023px) {
    padding: 0 50px 90px;

    &__link {
      font-size: 28px;
      line-height: 50px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 0 14px 70px;

    &__title {
      font-size: 14px;
      line-height: 20px;
    }

    &__list {
      padding: 40px 0 0;
    }

    &__link {
      font-size: 18px;
      line-height: 28px;
      background-size: 4%;
    }
  }
}
