.search-form {
  margin: 70px 70px 10px;
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 69px;
  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    height: 72px;
    border-radius: 9px;
    background: #fdfdfd;
  }

  &__wrap {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 19px;
  }

  &__img {
    padding-right: 10px;
  }

  &__input {
    border: none;
    outline: none;
    width: 100%;
    color: #a0a0a0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    transition: all 0.5s ease-in-out;

    &:focus {
      outline-style: double;
      padding: 24px 0;
      outline-color: #2be080;
      box-shadow: 0px 3px 14px rgba(43, 224, 128, 0.6);
      border-radius: 9px;
    }
  }

  &__btn {
    width: 34px;
    height: 34px;
    background-image: url('../../images/find-btn.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-style: none;
    position: relative;
    margin-left: 15px;
    transition: opacity 0.5s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: -3px;
      right: -19px;
      bottom: 0;
      width: 1px;
      height: 40px;
      background-color: #cbcbcb;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  &__error {
    position: absolute;
    top: 80px;
    left: 65px;
    margin-left: -1px;
    color: #ee3465;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    transition: 0.3s;
  }

  @media screen and (max-width: 1023px) {
    margin: 80px 30px 10px;
    padding-bottom: 109px;
  }

  @media screen and (max-width: 767px) {
    margin: 80px 10px 10px;
    padding-bottom: 44px;

    &__container {
      flex-direction: column;
      box-shadow: none;
      height: auto;
    }

    &__wrap {
      box-sizing: border-box;
      box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
      height: 72px;
      border-radius: 9px;
      background: #fdfdfd;
      padding: 0 20px;
    }

    &__img {
      display: none;
    }

    &__btn {
      &::after {
        display: none;
      }
    }

    &__input {
      font-size: 14px;
      line-height: 20px;
    }

    &__error {
      left: 5px;
    }
  }
}
