.signup {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 70px auto;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__title {
    margin: 0;
    padding: 40px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  &__form {
    width: 396px;
    margin: 0;
    padding: 0;
  }

  &__set {
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 120px;
    padding: 0;
  }

  &__field {
    position: relative;
    text-align: left;
    color: #a0a0a0;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-top: 18px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__input {
    all: initial;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    height: 23px;
    margin: 6px 0;
    padding-bottom: 10px;
    transition: all 0.5s ease-in-out;

    &:focus {
      border-bottom: 1px solid #ff6838;
    }
  }

  &__input-error {
    color: #ee3465;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    opacity: 0;
    transition: 0.3s;

    &_active {
      opacity: 1;
    }
  }

  &__submit-btn {
    all: initial;
    font-family: 'Inter', Arial, sans-serif;
    width: 100%;
    min-height: 45px;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
    background-color: #ff6838;
    border-radius: 3px;
    transition: opacity 0.5s ease-in-out;

    &_disabled {
      opacity: 0.6;
      cursor: unset;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__already {
    color: #a0a0a0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 16px 0 0 0;
    margin: 0;
  }

  &__link {
    padding-left: 6px;
    text-decoration: none;
    color: #ff6838;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    transition: opacity 0.5s ease-in-out;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  @media screen and (max-width: 1023px) {
    margin: 232px auto;

    &__set {
      margin-bottom: 150px;
    }
  }

  @media screen and (max-width: 767px) {
    margin: 56px auto 30px;

    &__header {
      align-items: center;
    }

    &__title {
      padding: 50px 0 80px;
    }

    &__form {
      width: 260px;
    }

    &__submit-btn {
      font-size: 12px;
      line-height: 15px;
    }

    &__already {
      font-size: 12px;
      line-height: 15px;
    }

    &__link {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
